<a href="https://colab.research.google.com/github/Anjanisinghthakur/Stratascratch-Solutons/blob/main/Most_Lucrative_Products.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Most Lucrative Products

#You have been asked to find the 5 most lucrative products in terms of total revenue for the first half of 2022 (from January to June inclusive).


#Output their IDs and the total revenue.

#Table: online_orders

In [ ]:
# Import your libraries
# Pyspark code
import pyspark
from pyspark.sql.functions import *


# Start writing code

online_orders=online_orders.filter(year(online_orders.date_sold)==2022).filter(month(online_orders.date_sold).isin(1,2,3,4,5,6))
online_orders=online_orders.withColumn("revenue",online_orders.cost_in_dollars*online_orders.units_sold)
online_orders=online_orders.groupBy("product_id").agg(sum("revenue").alias("revenue"))
res=online_orders.orderBy(online_orders.revenue.desc()).limit(5)
res.show()

# To validate your solution, convert your final pySpark df to a pandas df
res.toPandas()

In [ ]:
#SQL code
select product_id, sum(cost_in_dollars* units_sold) from online_orders
where month(date_sold) in(1,2,3,4,5,6)
group by 1
order by 2 desc
limit 5;